################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Miracle.Diamond/.vs/Miracle.Diamond/v15
